.navLinks-div ul{
    list-style-type: none;
    margin-top: 100%;

}
.navLinks-div li{
   margin-top: 55%;
}
.icons-side{
    color:white;
    font-size: 35px;
    cursor: pointer;
}
@media only screen and (min-width:300px) and (max-width: 760px) {
    .navLinks-div ul{
        margin-left: -15%;
        margin-top: 150%;
    }
}
@media only screen and (min-width:760px) and (max-width:1024px){
   .navLinks-div ul{
    margin-left: 10%;
   }
}