.sideDrawer{
background: #35155D;
width: 7%;
height: 99vh;
background: #653a99;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 12.5px );
-webkit-backdrop-filter: blur( 12.5px );
border-radius: 2%;
border: 1px solid rgba( 255, 255, 255, 0.18 );
position: absolute;
 transition: transform 0.5s ease-in;
}
.open{
    transform: translateX(0);
}
.close{
   transform: translateX(-100%);
}
.sideDrawer button{
width: 3rem; 
height: 3rem; 
background: transparent;
border: none; 
display: flex; 
flex-direction: column; 
justify-content: space-around; 
margin-right: 2rem; 
cursor: pointer;
margin-top: 80%;
margin-left: 20%;
}
.sideDrawer button span{
display: block; 
width: 3rem; 
height: 2.5px; 
background: white;

}
